{% extends "base.html" %}

{% block page_styles %}
<link rel="stylesheet"
      href="{{ url_for('static', filename='insert_import.css') }}">
{% endblock %}

{% block content %}
<div class="hero-content">
    <h1>Yo, inserisci il prestito</h1>
    <form id="money-form"
    method="POST"
    action="{{ url_for('sumbit_import') }}">
        <input type="number"
               id="money-input"
               name="money"
               placeholder="Inserisci l'importo"
               min="0"
               step="0.01"
               required>
        <button type="submit">Conferma</button>
    </form>
</div>
{% endblock %}